* {
  padding: 0;
  margin: 0;
  font-family: "Geologica", sans-serif;
}
.container {
  background-image: url(./pict.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
span{
  margin: 20px;
  font-size: 2.5rem;
}
button{
  border: none;
  font-size: 2rem;
  background-color: #00687d;
  padding: 5px;
  border-radius: 6px;
  color: whitesmoke;
  margin-bottom: 20px;
}
.result{
  font-size: 2rem;
  width: 70%;
  text-align: center;
}